@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif !important;
  -webkit-transition: 250ms;
  transition: 250ms;
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --bg-color: #ffffff;
  --color: black;
  --font-size: 14px;
  --fontsize-h1: 60px;
  --fontweigh-h1: medium;
  --fontsize-h2: 48px;
  --fontweigh-h2: medium;
}

body {
  width: 1600px;
  background-color: var(--bg-color);
  color: var(--color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
}

.active {
  color: blue;
}

:root {
  --transparent-color: transparent;
  --black-color: black;
  --white-color: white;
  --blue-color: blue;
  --border-radius: 18px;
  --border-r-menu: 10px;
  --backdrop-blur: 10px;
}

header {
  width: 100%;
  margin-top: 14px;
  background-color: white;
  border-bottom: solid black;
}
header nav {
  width: 75%;
  height: 56px;
  margin: auto;
}
header nav .Sub-menu {
  width: 133px;
  margin: 0 138px 0 99px;
  padding: 10px 0 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .earn-link {
  width: 128px;
  padding: 10px 0 10px 0;
}
header nav .localization {
  width: 120px;
  margin: 0 112px 0 199px;
  padding: 10px 0 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .Spam {
  width: 188px;
  padding: 10px 0 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: inline-end;
  -ms-flex-line-pack: center;
      align-content: center;
}
header nav .Spam img {
  float: left;
  margin-top: -5px;
}
header .logo {
  width: 100px;
}
header .logo .slash {
  font-size: 30px;
}
header nav, header .logo, header .Sub-menu, header .earn-link, header .localization, header .Spam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  width: 100%;
  margin-top: 95px;
}
main .button:hover {
  background-color: rgb(228, 230, 231);
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .section-1 {
  width: 63%;
  margin: auto;
}
main .section-1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px medium;
  margin-bottom: 145px;
}
main .section-1 .title .side-l {
  width: 514px;
  height: 107px;
}
main .section-1 .title .side-l h1 {
  font-size: var(--fontsize-h1);
  font-weight: var(--font-weitgh-h1);
}
main .section-1 .title .side-r {
  width: 383px;
  height: 85px;
  padding-top: 13px;
  text-align: justify;
}
main .section-1 .side-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  width: 399px;
  height: 51px;
  margin-left: 600px;
}
main .section-2 {
  width: 63%;
  margin: auto;
  height: 1400px;
  margin-top: 120px;
  border-bottom: solid grey;
}
main .section-2 .arrows-area {
  margin-top: 110px;
}
main .section-2 .arrows-area h2 {
  font-size: var(--fontsize-h2);
  font-weight: var(--font-weitgh-h2);
}
main .section-2 .arrows-area .arrows {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
}
main .section-2 .arrows-area .arrows .arrow:hover {
  background-color: rgb(228, 230, 231);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .section-2 .arrows-area .arrows .textarrow1 {
  margin: 10px 80px 10px 30px;
  text-align: left;
  width: 226px;
  height: 42px;
}
main .section-2 .arrows-area .arrows .textarrow2 {
  margin: 10px 80px 10px 30px;
  text-align: left;
  width: 283px;
  height: 42px;
}
main .section-2 .earn {
  width: 401px;
  height: 322px;
  margin-left: 316px;
  margin-top: 140px;
}
main .section-2 .earn #earn-money {
  font-size: var(--fontsize-h2);
  font-weight: var(--font-weitgh-h2);
  margin-bottom: 50px;
}
main .section-2 .earn .button {
  display: block;
  width: 100%;
  height: 60px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  border: solid black;
  font-size: 14px;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-top: 40px;
}
main .section-2 .catalog {
  width: 975px;
  height: 350px;
  margin-top: 140px;
}
main .section-2 .catalog h1 {
  font-size: var(--fontsize-h1);
  font-weight: var(--font-weitgh-h1);
  margin-bottom: 80px;
}
main .section-2 .catalog .model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0;
}
main .section-2 .catalog .model li {
  font-size: 14px;
  padding: 0 8px;
}
main .section-2 .catalog .button {
  display: block;
  margin-top: 100px;
  width: 35%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: solid black;
  font-size: 14px;
  text-align: center;
  padding: 15px 0 15px 0;
}
main .section-3 {
  width: 75%;
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 70px;
  border-bottom: solid gray;
}
main .section-3 .model-home h1 {
  font-size: var(--fontsize-h1);
  font-weight: var(--font-weitgh-h1);
}
main .section-3 .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 45px 0 160px 0;
}
main .section-3 .container1 .modelWC {
  display: grid;
}
main .section-3 .container1 .modelWC .foto-2 {
  margin-top: 20px;
}
main .section-3 .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .section-3 .container2 .model1 {
  display: block;
}
main .section-3 .container2 .model1 ul {
  height: 380px;
  margin-left: 15px;
  margin-top: 100px;
}
main .section-3 .container2 .model1 ul li {
  margin: 10px 0;
  list-style-type: disc;
  width: 90%;
}
main .section-3 .container2 .model1 .button {
  display: block;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: solid black;
  font-size: 15px;
  text-align: center;
  padding: 15px 0;
}
main .section-3 .container2 .model2 {
  display: block;
  width: 403px;
}
main .section-3 .container2 .model2 .comment {
  height: 246px;
}
main .section-3 .container2 .model2 .model3 {
  margin-bottom: 21px;
}

footer {
  width: 100%;
  background-color: black;
}
footer .footer {
  width: 75%;
  padding-top: 40px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer .col1 {
  width: 37%;
  padding: 0 30px;
}
footer .footer .col1 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer .col1 .logo .slash {
  font-size: 28px;
}
footer .footer .col1 ul li {
  color: white;
}
footer .footer .col1 .our-team {
  padding: 40px;
}
footer .footer .col-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer .col-info ul li {
  color: white;
}
footer .footer .col-info ul .head-info {
  margin-bottom: 20px;
}
footer .under-footer {
  width: 1145px;
  margin-left: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid white;
  margin-top: 60px;
  padding-top: 10px;
}
footer .under-footer ul li {
  color: white;
}
footer .under-footer .under-footer-l {
  width: 25%;
}
footer .under-footer .under-footer-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
